/*
 * [dymara]
 * In JavaFX 8 there is no possibility to disable context menu in JavaFX TextField & TextArea components.
 * These context menus have English-labeled options and currently there is no elegant way to translate them.
 * Classes below are a hack for making all context menus in TextFields transparent (invisible).
 */

TextField .context-menu {
	-fx-background-color: transparent;
	-fx-effect: null;
}

TextField .context-menu .separator:horizontal .line {
	-fx-border-color: transparent;
}

TextField .menu-item {
	-fx-background-color: transparent;
}

TextField .menu-item .label {
	-fx-text-fill: transparent;
}

TextField .menu-item:show-mnemonics .mnemonic-underline {
	-fx-stroke: -transparent;
}

/* CHART AXIS LABEL PADDING */

.axis:top > .axis-label,
.axis:left > .axis-label {
	-fx-padding: 0 0 8px 0;
}

.axis:bottom > .axis-label,
.axis:right > .axis-label {
	-fx-padding: 6px 0 0 0;
}

.chart-legend {
	-fx-tile-alignment: center;
}
